extends layout

block content
    p#toBest Best score: 250
    h1= title
    p#intro.
        How many taps can you achieve within 30 seconds?
         <br> Challenge your friends now!
    p#timer
    div#mainButton.button
        p
    .buttons.button.invisible
        div#shareButton.button.invisible
            p Share
        div#playAgainButton.button(onclick="resetGame();")
            p Play again

    if lang == 'ru'
        div#vk_auth.button(onclick='vkInit()') Войти
        div.friends.list

    div(style="display:none;visibility:none;")
        audio#click(controls, preload="auto")
            source(src="/sounds/43675__stijn__click1.wav", type="audio/mpeg")