doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.2.1.js')
        script(src='/javascripts/moment.min.js')
        script(src='/javascripts/zingtouch.js')
        script.
            var counter = 0;
            var timerStarted = 0;
            var timerEnded = 0;
            var timeout = 60;
            var gameEnd = false;
            $(document).ready(function () {
                var tap = new ZingTouch.Tap({
                    maxDelay: 1000,
                    numInputs: 1,
                    tolerance: 125
                });
                var zt = new ZingTouch.Region(document.body);
                zt.bind($('#mainButton')[0],tap, function (event) {
                    if (gameEnd) {
                        resetGame();
                        return;
                    }
                    if (counter === 0) {
                        timerStarted = $.now() / 1000;
                        timerEnded = timerStarted + timeout;
                        timer();
                    }
                    counter++;
                    update();
                }, false)
                update();
            });

            function timer() {
                var timerText = moment.unix(timerEnded - ($.now() / 1000)).format('[timer started] mm:ss');
                $('p:first').html(timerText);
                if(timerStarted + (($.now() / 1000) - timerStarted) < timerEnded - 1)
                setTimeout(timer, 100);
                else {
                    gameEnd = true;
                    alert('ВАШ РЕЗУЛЬТАТ ' + counter);
                    resetGame();
                    update();
                }
            }

            function update() {
                $('#mainButton').html(counter);
            }

            function resetGame() {
                counter = 0;
                timerStarted = 0;
                timerEnded = 0;
                timeout = 30;
                gameEnd = false;
            }

    style.
        body {
            font-size: 2em;
            margin: 0;
            padding: 0;
            text-align: center;
            width: 100%;
            height: 100vh;
            overflow: scroll;
        }

        #mainButton {
            margin: 0 auto;
            width: 80%;
            height: 70%;
            background-color: red;
            text-align: center;
            font-size: 18em;
            -webkit-user-select: none; /* Chrome, Opera, Safari */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
            cursor: pointer;
            display: block;
            color: black;
        }

        h1 {
            font-size: 2em;
        }
        h1 + p{
            font-size: 1em;
        }

    body
        block content
