doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.2.1.js')
        script(src='/javascripts/moment.min.js')
        script(src='/javascripts/jquery.nodoubletapzoom.js')
        script.
            var counter = 0;
            var timerStarted = 0;
            var timerEnded = 0;
            var timeout = 30;
            var gameEnd = false;
            $(document).ready(function () {
                $('#mainButton').on('mousedown', function (event) {
                    if (gameEnd) {
                        resetGame();
                        return;
                    }
                    if (counter === 0) {
                        console.log('initTimer');
                        timerStarted = $.now() / 1000;
                        timerEnded = timerStarted + timeout;
                        timer();
                    }
                    counter++;
                    $('#mainButton').html(counter);
                });
            });

            function timer() {
                var timerText = moment.unix(timerEnded - ($.now() / 1000)).format('[timer started] mm:ss');
                $('p:first').html(timerText);
                if(timerStarted + (($.now() / 1000) - timerStarted) < timerEnded - 1)
                setTimeout(timer, 100);
                else {
                    gameEnd = true;
                    alert('ВАШ РЕЗУЛЬТАТ ' + counter);
                }
            }

            function resetGame() {
                counter = 0;
                timerStarted = 0;
                timerEnded = 0;
                timeout = 30;
                gameEnd = false;
            }

            $(document).on('dblclick', function(event){
                event.preventBubble();
                event.preventDefault();
                return false;
            });

    style.
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #mainButton {
            margin: 0 auto;
            width: 80%;
            height: 70vh;
            background-color: red;
            line-height: 500px;
            text-align: center;
            font-size: 18rem;
            -webkit-user-select: none; /* Chrome, Opera, Safari */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
            cursor: pointer;
        }
    body
        block content
