doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.2.1.js')
        script(src='/javascripts/moment.min.js')
        script(src='/javascripts/jquery.nodoubletapzoom.js')
        script.
            var counter = 0;
            var timerStarted = 0;
            var timerEnded = 0;
            var timeout = 5;
            var gameEnd = false;
            $(document).ready(function () {
                update();
                $('#mainButton').on('click', function (event) {
                    log('click');
                    if (gameEnd) {
                        resetGame();
                        return;
                    }
                    if (counter === 0) {
                        console.log('initTimer');
                        timerStarted = $.now() / 1000;
                        timerEnded = timerStarted + timeout;
                        timer();
                    }
                    counter++;
                    update();
                });
            });

            function timer() {
                var timerText = moment.unix(timerEnded - ($.now() / 1000)).format('[timer started] mm:ss');
                $('p:first').html(timerText);
                if(timerStarted + (($.now() / 1000) - timerStarted) < timerEnded - 1)
                setTimeout(timer, 100);
                else {
                    log('game end');
                    gameEnd = true;
                    alert('ВАШ РЕЗУЛЬТАТ ' + counter);
                    resetGame();
                    update();
                }
            }

            function update() {
                $('#mainButton').html(counter);
            }

            function resetGame() {
                log('reset game');
                counter = 0;
                timerStarted = 0;
                timerEnded = 0;
                timeout = 30;
                gameEnd = false;
            }

            $(document).on('dblclick', function(event){
                event.preventBubble();
                event.preventDefault();
                log('double click');
                $(this).click().click();
                return false;
            });

            function log(text) {
                $('#log').append('<p>' + text + '</p>');
                $('#log').scrollTop($('#log p:last-child').prop('offsetTop'));
            }

    style.
        body {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        #mainButton {
            margin: 0 auto;
            width: 80vw;
            height: 70vh;
            background-color: red;
            text-align: center;
            font-size: 18rem;
            -webkit-user-select: none; /* Chrome, Opera, Safari */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none; /* Standard syntax */
            cursor: pointer;
            display: block;
            color: black;
        }

        h1 {
            font-size: 2rem;
        }
        h1 + p{
            font-size: 1rem;
        }

        #log{
            height: 3em;
            max-height: 3em;
            font-size: 5em;
            line-height: 5.1em;
            overflow-y: scroll;
        }

        #log p {
            margin: 0;
            padding: 0;
            height: 1em;
            font-size: 2em;
            line-height: 2.1em;
        }
    body
        block content
